body{
    background-color: #EBE2BF;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
.header{
    background-color: #2786BA;
    width: 100%;
    height: 40px;
}
.header-nav{
    height: 40px;
    width: 500px;
    /* background-color: red; */
    float: left;
}
.header-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-nav ul li{
    float: left;
    color: #fff;
}
.header-nav ul li a{
    /* background-color: black; */
    display: inline-block;
    margin: 12px;
    color: #fff;
    text-decoration: none;
}

.header-search input{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    height: 28px;
    width: 350px;
    background-color: #D3D5D3;
    border-radius: 20px;
    border: 3px solid #fff;
}



.header-search{
    float: right;
    height: 40px;
    width: 400px;
    /* background-color: black; */
}




.navbar{
    /* background-color: red; */
    width: 100%;
    height: 80px;
}

.logo{
    height: 80px;
    width: 300px;
    /* background-color: blue; */
    float: left;
}
.logo h1{
    font-size: 40px;
    margin-top: 15px;
    padding: 0;
}
.logo h1 span{
    background-color: #2786BA;
    color: #fff;
    border-radius: 5px;
}
.email-box .logo h1{
    font-size: 30px;
    
}




.nav{
    float:right;
    height: 80px;
    width: 500px;
    /* background-color: green; */
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav ul li{
    float: right;
}
.nav ul li a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
}
.nav ul li a:hover{
    background-color: #848073;
   
}


.slider{
    /* background-color: blue; */
    width: 100%;
    height: 300px;
}
.products{
    width: 100%;
    height: auto;
    min-height: 700px;
    /* background-color: green; */
}
.email{
    height: 300px;
    width: 100%;
    background-color: #2786BA;
}
.email-box{
    height: 250px;
    width: 250px;
    /* background-color: red; */
    float: left;
    margin: 25px 35px;
}
.email-box p{
    color: #fff;
    font-size: 15px;
}
.input-text{
    height: 40px;
    width: 100%;
    border:1px solid #e8e6e1;
    border-radius: 3px;
}
.input-btn{
    margin-top: 20px;
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 15px;
    font-size: 17px;
    border-radius: 5px;
}
.input-btn:hover{
    cursor: pointer;
    background-color: #848073
}


.email-box h3{
    font-size: 15px;
    color: #fff;
}
.email-box ul{
    margin: 0;
    padding: 0;
}

.email-box ul li{
    list-style-type: none;
}

.email-box ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    padding: 5px;

}
.email-box ul li a:hover{
    background-color: #848073;
}

.footer{
    height: 100px;
    width: 100%;
    background-color: #FFFFFF;
}

.viewport{
    width: 970px;
    margin: 0 auto;
}

.slider-box{
    background-color: #fff;
    height: 280px;
    width: 950px;
    border: 10px solid #848073;
}
.products h3{
    color: #2786BA;
    border-bottom: 2px solid #848073;
    padding-bottom: 10px;
}
.pro-box{
    height: 250px;
    width: 220px;
    background-color: #e8e6e1;
    float: left;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
    transition: .5s;
    border-radius: 5px;

}
.pro-box:hover{
    box-shadow: 0 0 50px #000;
    cursor: pointer;
    background-color: #fff;
}



.pro-box img{
    width: 180px;
    height: 180px;
}
.pro-box h4{
    color: #2786BA;
    text-align: left;
    margin: 10px 0 0 20px;
    padding-bottom: 0;
}
.pro-box p{
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 0;
    font-size: 14px;
    text-align: left;
}
.pro-box a{
    background-color: #2786BA;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 5px 15px;
    margin-top: -5px;
    margin-right: 5px;
    display: inline-block;
    float: right;
    border-radius: 4px;
}
.pro-box a:hover{
    background-color: #000;
    color: #fff;
}
.footer p{
    margin: 0;
    padding-top: 40px;
    text-align: center;
}