<html>
    <head>
        <link type="text/css" rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="top-header"></div>
        <div class="header"></div>
        <div class="content">
            <div class="inside-content">
                <div class="left-content">
                    <div class="left-content-top"></div>
                    <div class="left-content-bottom"></div>
                </div>
                <div class="right-content">
                    <div class="right-content-info"></div>
                    <div class="right-content-info"></div>

                    <div class="pro"></div>
                    <div class="pro"></div>
                    <div class="pro"></div>
                    <div class="pro"></div>
                </div>
            </div>
        </div>

        <div class="footer"></div>
        <div class="bottom-footer"></div>
    </body>
</html>